# Todo el repo lo revisa @macarenabaltradesigns
* @macarenabaltradesigns

# Ownership por carpetas
/assets/ @macarenabaltradesigns
/portfolio/ @macarenabaltradesigns

# Archivos específicos
README.md @macarenabaltradesigns
