<!--
  File: article-template.html
  Autor: Macarena Baltra — Product & UX Designer 
  Fecha: 12-09-2025.
-->
<!doctype html>
<html lang="es">
    <head>
    <!--HEAD_BUNDLE-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <!-- favicons (conserva solo los relevantes) -->
    <link rel="icon" type="image/svg+xml" href="assets/img/icons/macarenabaltra-portafolio-favicon.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icons/macarenabaltra-portafolio-favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/icons/macarenabaltra-portafolio-favicon-16x16.png">

    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/styles/main.css" rel="stylesheet"/>
    </head>
    <body>
    <div id="navbar-portfolio"></div>

    <main class="container">
        <!--ARTICLE_BODY-->
    </main>

    <div id="footer-portfolio"></div>

    <!-- scripts cliente opcionales -->
    <script src="/assets/scripts/include-navbar-footer.js"></script>
    <script src="/assets/scripts/loader.js"></script>
    <script src="/assets/js/content-articles.js"></script>
    <script src="/assets/scripts/main.js" defer></script>
    </body>
</html>
